// UI Colors
// https://lospec.com/palette-list/blessing
color1 = #74569b
color2 = #96fbc7
color3 = #f7ffae
color4 = #ffb3cb
color5 = #d8bfd8

// https://colorpalettes.net/color-palette-4469/
purplealmostblack = #2f2f2f
purpleblack = #1a1a1a
purple0 = #31293F
purple1 = #554D74
purple2 = #796EA8
purple3 = #A6A9C8
purple4 = #D3D9E9
purple5 = #F5F7FF

background-color = purple0
text-color = purple5
heading-color = purple3
link-color = purple1
link-color-active = purple4